* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}


.container{
    margin: 0 auto;
    max-width: 990px;
}

.main-header{
    background: linear-gradient(to bottom right, #7e1512, #e8e771);
    height: 200px;
    color: #1813eb;
    flex: 38px;
}

.main-header__pages{
    margin: 0 auto;
    max-width: 990px;

}

.main-header__page-main{
    float: left;
    font-size: 17px;
    padding-top: 65px;
}

.previous-link{
    float: left;
}

.main-header__page-main-link{
    padding-left: 10px;
    text-decoration: none;
    color: #1813eb;
}

.main-header__page-main-link:hover{
    text-decoration: underline;
}

.main-header__page-main-link:link{
    color: #1813eb;
}

.main-header__page-geography{
    text-align: center;
    padding-top: 65px;
}

.main-header__image{
    position: relative;
    bottom: 70px;
    float: right;
}

.portrait{
    width: 100px;
}

.main-content{
    background: #78d1e3 url("../images/open-book.png") 25px 0;
    height: 935px;
}


.main-footer {
    background: linear-gradient(to bottom right, #7e1512, #e8e771);
    height: 200px;
}

.main-footer__i-in-social{
    color: #1813eb;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;

}

.main-footer__social{
    margin: 0 auto;
    padding-bottom: 25px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main-footer__social-item{
    position: relative;
    text-align: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 12px;
    transition: all .3s ease;
    padding: 8px 4px 0 4px;
}

.social-links{
    padding-top: 55px;
}

.main-footer__social-link{
    color: #ffffff;
}

.main-footer__social-item:last-child{
    margin-right: 0;
}

.main-footer__social-item:nth-child(1) {
    background-color: #0000ff;
    border: 1px solid #0000ff;
    margin-top: 5px;

}

.main-footer__social-item:nth-child(1):hover{
    background-color: #00ff00;
    box-shadow: inset 0 0 1em red, 0 0 1em #7fff00;
}

.main-footer__social-item:nth-child(2) {
    background-color: #395999;
    border: 1px solid #395999;
    margin-top: 5px;

}

.main-footer__social-item:nth-child(2):hover{
    background-color: #00ff00;
    box-shadow: inset 0 0 1em red, 0 0 1em #7fff00;
}


/*--Планшеты 728-960px--*/

@media screen and (max-width: 1024px) {
    .container{
        width: 90%;
    }
    .main-header{
        width: 100%;
    }
    .main-content{
        width: 100%;
        height: 900px;
        background: #78d1e3 url("../images/open-book.png") no-repeat -135px center;
    }


    .main-footer{
        width: 100%;
    }
}

@media screen and (max-width: 960px) {
    .container{
        width: 90%;
    }
    .main-header{
        width: 100%;
    }
    .main-content{
        width: 100%;
        height: 900px;
        background: #78d1e3 url("../images/open-book-small.png") no-repeat center center;
    }


    .main-footer{
        width: 100%;
    }
}


/*--Мобильные 0-728px--*/
@media screen and (max-width: 728px) {
    .container{
        width: 90%;
    }
    .main-header{
        width: 100%;
        height: 390px;
    }
    .main-header__page-geography{
        margin-bottom: 50px;
    }
    .main-header__page-main{
        float: none;
        padding-top: 40px;
    }
    .portrait{
        position: relative;
        top: 70px;
        right: 270px;
    }
    .main-content{
        width: 100%;
        height: 900px;
        background: #78d1e3 url("../images/open-book-small.png") no-repeat center center;
    }


    .main-footer{
        width: 100%;
    }
}

@media screen and (max-width: 650px){
    .container{
        width: 90%;
    }
    .main-header{
        width: 100%;
        height: 390px;
    }
    .main-header__page-geography{
        margin-bottom: 50px;
    }
    .main-header__page-main{
        float: none;
        padding-top: 40px;
    }
    .portrait{
        position: relative;
        top: 70px;
        right: 270px;
    }
    .main-content{
        width: 100%;
        height: 900px;
        background: #78d1e3 url("../images/open-book-small-for-mobiles.png") no-repeat center center;
    }


    .main-footer{
        width: 100%;
    }
}

@media screen and (max-width: 420px){
    .container{
        width: 90%;
    }
    .main-header{
        width: 100%;
        height: 390px;
    }
    .main-header__page-geography{
        margin-bottom: 50px;
    }
    .main-header__page-main{
        float: none;
        padding-top: 40px;
    }
    .portrait{
        position: relative;
        top: 70px;
        right: 145px;
    }
    .main-content{
        width: 100%;
        height: 900px;
        background: #78d1e3 url("../images/open-book-small-for-mobiles.png") no-repeat center center;
    }


    .main-footer{
        width: 100%;
    }
}

@media screen and (max-width: 375px){
    .container{
        width: 90%;
    }
    .main-header{
        width: 100%;
        height: 390px;
    }
    .main-header__page-geography{
        margin-bottom: 50px;
    }
    .main-header__page-main{
        float: none;
        padding-top: 40px;
    }
    .portrait{
        position: relative;
        top: 70px;
        right: 120px;
    }
    .main-content{
        width: 100%;
        height: 900px;
        background: #78d1e3 url("../images/open-book-small-for-mobiles.png") no-repeat center center;
    }


    .main-footer{
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
    .main-header{
        height: 430px;
    }
    .main-header__page-geography{
        margin-bottom: 50px;
    }
    .main-header__page-main{
        float: none;
        padding-left: 85px;
        padding-top: 40px;
    }
    .portrait{
        position: relative;
        top: 70px;
        right: 90px;
    }
    .main-content{
        width: 100%;
        height: 900px;
        background: #78d1e3 url("../images/open-book-small.png") no-repeat -340px center;
    }


    .main-footer{
        width: 100%;
    }
}
