* {
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

.main-header{
    background: linear-gradient(to bottom right, #7e1512, #e8e771);
    height: 200px;
    color: #1813eb;
    flex: 38px;
}

.main-header__pages{
    margin: 0 auto;
    max-width: 990px;

}

.main-header__page-main{
    float: left;
    font-size: 17px;
    padding-top: 65px;
}

.previous-link{
    float: left;
}

.main-header__page-main-link{
    padding-left: 10px;
    text-decoration: none;
    color: #1813eb;
}

.main-header__page-main-link:hover{
    text-decoration: underline;
}

.main-header__page-main-link:link{
    color: #1813eb;
}

.main-header__page-ualt{
    text-align: center;
    padding-top: 65px;
}

.main-header__image{
    position: relative;
    bottom: 70px;
    float: right;
}

.portrait{
    width: 100px;
}

.main-content{
    background: #78d1e3;
}

.main-content__image{
    text-align: center;
    padding: 100px 0;
}

.open-book{
    width: 900px;
}

.main-content__text1{
    color: lightslategrey;
    position: relative;
    left: 300px;
    bottom: 490px;
}

.main-content__text2{
    color: lightslategrey;
    position: relative;
    left: 300px;
    bottom: 490px;
}

.main-footer{
    background: linear-gradient(to bottom right, #7e1512, #e8e771);
    height: 200px;
}

.main-footer__i-in-social{
    color: #1813eb;
    font-size: 20px;
    text-align: center;
    padding-top: 15px;

}

.main-footer__social{
    margin: 0 auto;
    padding-bottom: 25px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
}

.main-footer__social-item{
    position: relative;
    text-align: center;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    margin-right: 12px;
    transition: all .3s ease;
    padding: 8px 4px 0 4px;
}

.social-links{
    padding-top: 55px;
}

.main-footer__social-link{
    color: #ffffff;
}

.main-footer__social-item:last-child{
    margin-right: 0;
}

.main-footer__social-item:nth-child(1) {
    background-color: #0000ff;
    border: 1px solid #0000ff;
    margin-top: 5px;

}

.main-footer__social-item:nth-child(1):hover{
    background-color: #00ff00;
    box-shadow: inset 0 0 1em red, 0 0 1em #7fff00;
}

.main-footer__social-item:nth-child(2) {
    background-color: #395999;
    border: 1px solid #395999;
    margin-top: 5px;

}

.main-footer__social-item:nth-child(2):hover{
    background-color: #00ff00;
    box-shadow: inset 0 0 1em red, 0 0 1em #7fff00;
}







