* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
.container {
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
  max-width: 1200px;
}
.main-header {
  background-image: url(../images/headerBackground.jpg);
  height: 100vh;
  min-height: 100vh;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-header__name {
  text-align: center;
  color: #1813eb;
  font-size: 42px;
}
.main-content {
  background: #78d1e3;
}
.main-content__img-buttons {
  margin: 0 auto;
  width: 350px;
  padding-bottom: 150px;
}
.main-content__img {
  padding-top: 150px;
  width: 350px;
  height: 486px;
}
.main-content__button {
  margin-top: 40px;
  text-align: center;
}
.main-content__button-a {
  border: 3px solid #5d5b66;
  background: #04b5af;
  color: brown;
  padding: 10px 0;
  display: block;
  text-decoration: none;
  font-size: 24px;
}
.main-content__button-a:hover {
  color: #000000;
  background: linear-gradient(to top, #60606e, #00b3b3, #60606e);
  transition: all .3s;
}
.main-content__button-a1:hover {
  color: #000000;
  background: linear-gradient(to top, #60606e, #00b3b3, #60606e);
  transition: all .3s;
}
.main-content__button-a2:hover {
  color: #000000;
  background: linear-gradient(to top, #60606e, #00b3b3, #60606e);
  transition: all .3s;
}
.main-content__button-a3:hover {
  color: #000000;
  background: linear-gradient(to top, #60606e, #00b3b3, #60606e);
  transition: all .3s;
}
.main-content__button-a4:hover {
  color: #000000;
  background: linear-gradient(to top, #60606e, #00b3b3, #60606e);
  transition: all .3s;
}
.main-footer {
  background: linear-gradient(to bottom right, #7e1512, #e8e771);
}
.main-footer__i-in-social {
  color: #1813eb;
  font-size: 20px;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 15px;
}
.main-footer__social {
  margin: 0 auto;
  padding-bottom: 25px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: nowrap;
}
.main-footer__social-item {
  position: relative;
  text-align: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  margin-right: 12px;
  transition: all .3s ease;
  padding: 8px 4px 0 4px;
}
.social-links {
  padding-top: 55px;
}
.main-footer__social-link {
  color: #ffffff;
}
.main-footer__social-item:last-child {
  margin-right: 0;
}
.main-footer__social-item:nth-child(1) {
  background-color: #0000ff;
  border: 1px solid #0000ff;
  margin-top: 5px;
}
.main-footer__social-item:nth-child(1):hover {
  background-color: #00ff00;
  box-shadow: inset 0 0 1em red, 0 0 1em #7fff00;
}
.main-footer__social-item:nth-child(2) {
  background-color: #395999;
  border: 1px solid #395999;
  margin-top: 5px;
}
.main-footer__social-item:nth-child(2):hover {
  background-color: #00ff00;
  box-shadow: inset 0 0 1em red, 0 0 1em #7fff00;
}
@media screen and (max-width: 960px) {
  .main-header__name {
    font-size: 32px;
  }
}
@media screen and (max-width: 728px) {
  .main-header__name {
    font-size: 25px;
  }
}
@media screen and (max-width: 430px) {
  .main-content__img-buttons {
    width: 290px;
  }
  .main-content__img {
    width: 290px;
  }
}
@media screen and (max-width: 320px) {
  .main-header__name {
    font-size: 20px;
  }
}
/*# sourceMappingURL=style.css.map */